<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MCIRCServer</key>
	<string>chat1.ustream.tv</string>
	<key>MCIRCPort</key>
	<string>6667</string>
	<key>MCIsEnabledExternalLearn</key>
	<false/>
	<key>MCReadModeStringLimitSuffix</key>
	<string>以下省略</string>
	<key>MCReadModeStringLimit</key>
	<integer>100</integer>
	<key>MCIsAutomaticallyUpdates</key>
	<true/>
	<key>MCReadModeIsConvert</key>
	<true/>
	<key>MCReadModeIsReadTitle</key>
	<true/>
	<key>MCReadModeTitle</key>
	<string>さん、</string>
	<key>MCReadModeQueue</key>
	<string>10</string>
	<key>MCReadModeList</key>
	<array/>
	<key>MCConvertYomiList</key>
	<array>
		<dict>
			<key>MCConvertYomiListPattern</key>
			<string>(w|ｗ)+</string>
			<key>MCConvertYomiListYomi</key>
			<string>わら</string>
		</dict>
		<dict>
			<key>MCConvertYomiListPattern</key>
			<string>(8|８){5,}</string>
			<key>MCConvertYomiListYomi</key>
			<string>パチパチパチ</string>
		</dict>
		<dict>
			<key>MCConvertYomiListPattern</key>
			<string>(orz|ｏｒｚ)</string>
			<key>MCConvertYomiListYomi</key>
			<string>がっくし</string>
		</dict>
	</array>
	<key>MCIgnoreList</key>
	<array/>
	<key>MCScrollViewFontSize</key>
	<integer>13</integer>
	<key>MCScrollViewDuration</key>
	<integer>5</integer>
	<key>MCScrollViewBGAlpha</key>
	<integer>50</integer>
</dict>
</plist>
